body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

h1,
h2,
h3 {
    line-height: 1.2
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

/* Add some basic styling to your grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Style the images within the grid */
.image-grid img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}